<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body>
<br>
<form class="layui-form" action="">
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">客户姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="ctName" id="ctName" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
                <button type="button" id="search" class="layui-btn">搜索</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>

<table class="layui-hide" id="contact" lay-filter="contact"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加联系人</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="barDetail">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    var row = null
    var layer = null;
    var table = null;

    layui.use(['layer','table','jquery'], function(){

        table = layui.table;
        var  $ = layui.jquery;
        layer = layui.layer;

        $("#search").click(function(){
            var ctName = $("#ctName").val()
            table.reload('contact', {
                where: {
                    ctName: ctName,
                } //设定异步数据接口的额外参数
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
        table.render({
            elem: '#contact'
            ,url:'/contact/listJson'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,title: '用户联系表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'ctId', title:'联系人编号', width:100}
                    ,{fixed: 'right',title: '客户详情',width:100,  toolbar: '#barDetail'}
                    ,{field:'ctName', title:'姓名',width:120}
                    ,{field:'ctGender', title:'性别', width:120,
                     templet:function (row) {
                       switch (row.ctGender) {
                           case 0:
                               return '女'
                               break;
                           case 1:
                               return '男'
                               break;
                           default:
                               return row.ctGender;
                               break;
                       }
                    }
                     }
                    ,{field:'ctPhone', title:'联系电话', width:120}
                    ,{field:'ctTitle', title:'职位', width: 120}
                    ,{field:'ctNotes', title:'备注'}
                    ,{fixed: 'right', title: '操作',width: 165, align:'center', toolbar: '#barDemo'}
                ]
            ]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(contact)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add' :
                    layer.open({
                        type: 2,
                        title:"新增联系人信息",
                        content:'/contact/add',
                        area:['500px', '500px']
                    });
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(contact)', function(obj){
            var ctId = obj.data.ctId;
            var cusNo = obj.data.cusNo;
            if(obj.event === 'del'){
                layer.confirm('确认删除客户信息？', function(index){
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        url: "/contact/delete?ctId=" + ctId,
                        type: 'get',
                    });

                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title:"联系人修改",
                    content:'/contact/update?ctId=' + ctId,
                    area:['800px', '500px']
                });
            } else if (obj.event === 'detail') {
                var cusNo = obj.data.cusNo;
                layer.open({
                    type: 2,
                    title:"客户详情",
                    content:'/customer/detail?cusNo=' + cusNo,
                    area:['500px', '400px']
                });
            }
        });

        //监听行双击事件
        table.on('rowDouble(contact)', function(obj){
            var ctId = obj.data.ctId;
            layer.open({
                type: 2,
                title:"客户详情",
                content:'/contact/detail?ctId=' + ctId,
                area:['500px', '400px']
            });
        });

    });


</script>

</body>
</html>